<form action="/chair" method="post">
  <p>color: <input type="text" name="color"></p>
  <p>weight: <input type="text" name="weight"></p>
  <p>style: <input type="text" name="style"></p>
  <p>Image Url: <input type="text" name="image_url"></p>
  <input type="submit" value="Create new chair">
</form> 